ADMIN_EMAIL=
ADMIN_PASSCODE=
ADMIN_USERNAME=
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
GEMINI_API_KEY=
INTERNAL_BOT_API_KEY=
NEXT_PUBLIC_APP_URL=
SESSION_SECRET=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=